body {
    background-image: url('./Picsart_26-01-21_16-07-31-002.jpg');
    background-repeat: no-repeat;
    background-size: cover ;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 99dvh;
    user-select: none;
}

#con-pe {
    width: 70px ;
    height: 100px;
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 100px ;
    z-index: 2;
   
}

#cab {
    width: 100%;
    height: 65%;
    background-image: url('./Picsart_26-01-21_16-26-12-473.png');
    background-position: 4.5px 0px ;
    background-size: 75%;
    background-repeat: no-repeat;
    margin: 0px;
    position: relative;
    top: 7.5px;
    transform-origin: center;
}

#cue {
    width: 100%;
    height: 50% ;
    background-image: url('./Picsart_26-01-21_16-27-05-284.png');
    background-position: -6px -50px ;
    background-size: 115%;
    margin: 0px;
    background-repeat: no-repeat ;
}

#huevo {
    width: 36px;
    height: 52px;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 115px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

#arr {
    width: 100% ;
    height: 56.5%;
    background-image: url("./h-p-s.png");
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    background-position: center;
    overflow: hidden;
    position: absolute;
    opacity: 0;
   
}
#aba {
    width: 100%;
    height: 56.5%;
    background-image: url("./h-p-i.png");
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    background-position: center;
    overflow: hidden;
    position: absolute;
    top: 44.5%;
}

#perro {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 20px;
    transform: rotate(-90deg);
    position: absolute;
    z-index: 0;
    bottom: 125px;
    
}


#imgpe {
    width: 100%;
    height: 100%;
}

#bollo {
    z-index: 3;
    position: absolute;
    width: 2px;
    height: 2px;
    background: #53411c;
    border-radius: 50%;
    background-image: url('1769028879017.jpg');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    
    
}

@keyframes crecer {
    
    0% {
        width: 1px;
        height: 1px;
        opacity: 1;
    }
    
    100% {
        
        width: 95dvw;
        height: 95dvw;
        opacity: 1;
    }
    
}

h1 {
    background: #155552;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align-last: center;
    text-align: center;
    align-self: center;
    justify-sef: center;
    width: 90dvw;
    border-radius: 15px;
    user-select: none;
    
}

#empezar {
    width: 99dvw;
    height: 99dvh;
    background: #155552;
    z-index: 100;
    position: absolute;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#click {
    
    width: 60%;
    background: #0a3e1a;
    color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 15dvw;
    border: solid 2px #199540;
    
}





